<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <h1>Welcome, Please <a href="/register">Register</a> to Continue</h1>
    <h1></h1>Or <a href="/login">Login</a> if you already have an account!</h1>
    <!-- 
        Di home ejs ini nanti nampilin menu dropdownlist yang bisa milih mau 
        login sebagai user atau admin
     -->
</body>

</html>